---
import Table from "./Table.astro";

const { name, separate, printonly, screenonly } = Astro.props
// separate === 0/undefined ? not detached, separate > 0 ? detached

const fetchedData = await fetch(`http://localhost:5555/aps/${name}`).then(response => response.json())

const tableData = {
  status: fetchedData.status,
  value: fetchedData.status === "ok"? (fetchedData.value.slice(0, separate? 1 + separate : undefined)) : fetchedData.value
}
const secondTableData = {
  status: fetchedData.status,
  value: fetchedData.status === "ok"? ([fetchedData.value[0], ...fetchedData.value.slice(separate? 1 + separate : 0)]) : fetchedData.value
}

---
<tr class={`${printonly ? "[@media_only_screen]:!hidden" : screenonly? "[@media_only_print]:!hidden" : ""}`}>
  <td class={"break-inside-avoid-page"}>
    <div id={name} class="bg-indigo-900 py-3 px-12 text-white text-lg font-light font-display border-b-4 border-b-indigo-100">
      <h1>{name} </h1>
    </div>
    <div class="px-12">
      <div class="flex justify-center flex-wrap py-4 gap-3">
      {
        fetchedData.status === "ok"? 
          fetchedData.value.slice(1, separate? 1 + separate : undefined).map((entry: string[], i : number) => (
            <img class="object-right rounded-xl outline outline-2 outline-indigo-900 aspect-square w-40 object-contain" src={"https://drive.google.com/uc?export=view&id=" + entry[5]} alt={entry[1] + " Image"}>
            <img class="object-right rounded-xl outline outline-2 outline-indigo-900 aspect-square w-40 object-contain" src={"https://drive.google.com/uc?export=view&id=" + entry[6]} alt={entry[1] + " Drawing"}>
            
          ))
        : 
          <div>Error: {fetchedData.value}</div>
      }
      </div>
      <div class="py-2">
        <Table raw={tableData} omit_col={2} />
      </div>
    </div>
  </td>
</tr>
{
  separate > 0 ?
  <tr class={`${printonly ? "[@media_only_screen]:!hidden" : screenonly? "[@media_only_print]:!hidden" : ""}`}>
    <td class={"break-inside-avoid-page"}>
      <div id={name} class="bg-indigo-900 py-3 px-12 text-white text-lg font-light font-display border-b-4 border-b-indigo-100">
        <h1>{name} </h1>
      </div>
      <div class="px-12">
        <div class="flex justify-center [@media_only_screen_and_(max-width:_640px)]:flex-col flex-wrap py-4 gap-3">
        {
          fetchedData.status === "ok"? 
            fetchedData.value.slice(1 + separate).map((entry: string[], i : number) => (
              <img class="object-right rounded-xl outline outline-2 outline-indigo-900 aspect-square w-40 object-contain bg-white" src={"https://drive.google.com/uc?export=view&id=" + entry[5]} alt={entry[1] + " Image"}>
              <img class="object-right rounded-xl outline outline-2 outline-indigo-900 aspect-square w-40 object-contain bg-white" src={"https://drive.google.com/uc?export=view&id=" + entry[6]} alt={entry[1] + " Drawing"}>
              
            ))
          : 
            <div>Error: {fetchedData.value}</div>
        }
        </div>
        <div class="py-2">
          <Table raw={secondTableData} omit_col={2} />
        </div>
      </div>
    </td>
  </tr>
:
  <></>
}