---
import Image from "./Image.astro";
import Table from "./Table.astro";

const fetchedData = await fetch("http://localhost:5555/aps/Gusset%20Element").then(response => response.json())
---

{
  fetchedData.status === "ok"? 
    fetchedData.value.slice(1).map((entry: string[], i : number) =>
      <tr>
        <td class={`break-inside-avoid-page ${i < fetchedData.value.length - 1 ? "pb-1" : ""}`}>
          <div id={entry[1]} class="bg-indigo-800 py-1 px-4 text-white text-lg font-serif border-b-4 border-b-indigo-100">
            <h1>{entry[1]} </h1>
          </div>
          <div class="grid grid-cols-2 px-4 py-1">
            <div class="flex content-start flex-wrap gap-1">
              <Image entry={entry[4]} />
              <Image entry={entry[5] + "(" + entry[0] + ")"} />
            </div>
            <div class="px-1">
              <div>
                <Table raw={[["Part No", "Weight (g)"], [entry[0], entry[3]]]} />
              </div>
              <p class="pt-1 px-1">
                Material: 
                <span class="text-white py-[0.5rem] mx-[0.5rem] px-[0.5rem] rounded-full bg-black">
                  {entry[2]}
                </span>
              </p>
            </div>
          </div>
          
        </td>
      </tr>
  )
  :
  <div>Error: {fetchedData.value}</div>
}