---
import Table from "./Table.astro";

const fetchedData = await fetch("http://localhost:5555/aps/Profile%20Cover").then(response => response.json())

---

{
  fetchedData.status === "ok"? 
    fetchedData.value.slice(1).map((entry: string[], i : number) => (
      <tr>
        <td class={`break-inside-avoid-page ${i < fetchedData.value.length - 1 ? "pb-4" : ""}`}>
          <div id={entry[0]} class="bg-indigo-900 py-3 px-12 text-white text-lg font-light font-display border-b-4 border-b-indigo-100">
            <h1>{entry[0]} </h1>
          </div>
          <div class="px-12">
            <div class="grid grid-cols-3 py-4 gap-12">
              <img class="object-right rounded-xl outline outline-2 outline-indigo-900 aspect-square w-full object-contain bg-white" src={"https://drive.google.com/uc?export=view&id=" + entry[4]} alt={entry[0] + " Image"}>
              <img class="object-right rounded-xl outline outline-2 outline-indigo-900 aspect-square w-full object-contain bg-white" src={"https://drive.google.com/uc?export=view&id=" + entry[5]} alt={entry[0] + " Drawing"}>
              <img class="object-right rounded-xl outline outline-2 outline-indigo-900 aspect-square w-full object-contain bg-white" src={"https://drive.google.com/uc?export=view&id=" + entry[6]} alt={entry[0] + " Usage"}>
            </div>
            <div class="p-2 bg-indigo-100 rounded-lg">
              <div class="px-3">
                <p class="py-1">
                  {entry[1]}
                </p>
                <p class="py-2 grid grid-cols-2">
                  <span>
                    Colour: {entry[3].split(", ").map((s: string) => (
                      <span class={`${s === "Black"? "bg-black" : "bg-slate-400"}  text-white mx-1 py-1 px-2 rounded-full`}>
                        {s}  
                      </span>
                    ))}
                  </span>
                  <span>  
                    <span>
                      Material: 
                      <span class="text-white py-1 mx-1 px-2 rounded-full bg-black">
                        {entry[2]}
                      </span>
                    </span>
                  </span>
                </p>
              </div>
              <div class="pt-2">
                <Table sheet={entry[0]} />
              </div>
            </div>
          </div>
          
        </td>
      </tr>
    ))
    : 
    <div>Error: {fetchedData.value}</div>
}